<%
title_key = rendering_context == "modal" ? "images.edit.title_modal" : "images.edit.title"
content_for :title, t(title_key, title: @edition.title_or_fallback)
%>

<% back_link_path = if params[:wizard] == 'upload'
                      crop_image_path(@edition.document, @image_revision.image_id, wizard: params[:wizard])
                    else
                      images_path(@edition.document)
                    end %>

<% content_for :back_link, render_back_link(
  href: back_link_path,
  data_attributes: { "modal-action": "back" }
) %>

<%= render "components/image_with_metadata", {
  id: "selected-image",
  src: url_for(@image_revision.thumbnail),
  alt_text: @image_revision.alt_text || t("images.edit.alt_text_placeholder")
} %>

<%= form_tag(
  edit_image_path(@edition.document, @image_revision.image_id, wizard: params[:wizard]),
  method: :patch,
  data: {
    "warn-before-unload": true,
    "modal-action": (params[:wizard] == "upload") ? "metaInsert": "meta",
    "modal-data": t("images.index.meta.inline_code.value", filename: @image_revision.filename)
  }
) do %>

  <% has_error = @issues&.has_key?(:image_alt_text) %>

  <%= label_tag "image-alt-text", t("images.edit.form_labels.alt_text"), class: "form-label" %>
  <%= text_field_tag "image_revision[alt_text]",
        params.dig(:image_revision, :alt_text) || @image_revision.alt_text,
        id: "image-alt-text",
        aria: { describedby: has_error ? "image_alt_text-errors" : nil },
        class: "form-control mb-3 #{(has_error ? "is-invalid" : nil)}" %>
  
  <%= render "components/errors", {
    field: :image_alt_text,
    classes: "mb-3"
  } %>   
  
  <% has_error = @issues&.has_key?(:image_caption) %>

  <%= label_tag "image-caption", t("images.edit.form_labels.caption"), class: "form-label" %>
  <%= text_field_tag "image_revision[caption]",
        params.dig(:image_revision, :caption) || @image_revision.caption,
        id: "image-caption",
        aria: { describedby: has_error ? "image_caption-errors" : nil },
        class: "form-control mb-3 #{(has_error ? "is-invalid" : nil)}" %>
  
  <%= render "components/errors", {
    field: :image_caption,
    classes: "mb-3"
  } %>    

  <% has_error = @issues&.has_key?(:image_credit) %>

  <%= label_tag "image-credit", t("images.edit.form_labels.credit"), class: "form-label" %>
  <%= text_field_tag "image_revision[credit]",
        params.dig(:image_revision, :credit) || @image_revision.credit,
        id: "image-credit",
        aria: { describedby: has_error ? "image_credit-errors" : nil },
        class: "form-control mb-3 #{(has_error ? "is-invalid" : nil)}" %>
  
  <%= render "components/errors", {
    field: :image_credit,
    classes: "mb-3"
  } %>    

  <% if rendering_context != "modal" && @edition.document_type.lead_image? %>
    <% is_lead = params[:image_revision] ? params[:lead_image] :
      (@edition.lead_image_revision == @image_revision) %>  

    <div class="form-check mb-3">
      <%= check_box_tag "lead_image", "on", is_lead, class: "form-check-input" %>
      <%= label_tag "lead_image", t("images.edit.form_labels.lead_image"), class: "form-check-label" %>
    </div>
  <% end %>    

  <% 
    button_text = if rendering_context == "modal" && params[:wizard] == "upload"
                    "Save and insert"
                  else
                    "Save"
                  end
  %>

  <%= submit_tag button_text, class: "btn btn-primary" %>  
<% end %>