<%= render "publishing_platform_publishing_components/components/layout", {
  title: "#{yield(:browser_title).presence || yield(:title)} - Publishing Platform Content Publisher",
  logo_text: "Content Publisher",
  navigation_items:
} do %>

  <% if yield(:back_link).present? %>
    <%= yield(:back_link) %>
  <% elsif yield(:breadcrumbs).present? %>
    <%= yield(:breadcrumbs) %>
  <% end %>    
  <% if flash["notice"].present? %>
    <p class="alert alert-primary"><%= notice %></p>
  <% end %>
  <% if flash["alert"].present? %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>  

  <% if flash["requirements"].present? %>
    <% items = flash["requirements"]["message"] ?
      [{ text: flash["requirements"]["message"] }] :
      flash["requirements"]["items"].map(&:symbolize_keys) %> 

      <%= render "publishing_platform_publishing_components/components/error_summary", {
        title: flash["requirements"]["title"] || t("documents.flashes.requirements"),
        items:
      } %>                
  <% end %>

  <div class="row">
    <div class="col-xs-12 <%= yield(:top_right).present? ? 'col-md-6' : 'col-md-8' %>">
      <% if yield(:title).present? %>      
        <div class="pb-md-4">
          <%= yield(:context) %>
          <h1><%= yield(:title) %></h1>
        </div>  
      <% end %>             
    </div>
    <% if yield(:top_right).present? %>
      <div class="col-xs-12 col-md-6">
        <%= yield(:top_right) %>
      </div>
    <% end %>             
  </div>  

  <%= yield %>
<% end %>